<div id="account-overview" v-cloak>
  <div class="container">
    <h1>My Profile</h1>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Personal information</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a v-if="!isEditProfileMode" class="btn btn-outline-info account-settings-button" @click="enterEditProfileMode">Edit profile</a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Name:</div>
      <div v-if="!isEditProfileMode" class="col"><strong>{{me.fullName}}</strong></div>
      <template v-else>
        <ajax-form id="edit-profile-form" action="updateProfile" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedFormProfile()" :handle-parsing="handleParsingFormProfile" autocomplete="off">
          <div class="form-group">
              <input class="form-control" id="fullName" type="text"  :class="[profileFormErrors.fullName ? 'is-invalid' : '']" v-model.trim="profileFormData.fullName" placeholder="Full Name" title="Full Name" autocomplete="name" focus-first>
              <div class="invalid-feedback" v-if="profileFormData.fullName">Please enter your full name.</div>
          </div>
          <div class="flex-row-reverse form-group editControls">  
              <a class="btn btn-info" @click="exitEditProfileMode">Cancel</a>
              <ajax-button type="submit" :syncing="syncing" class="btn-dark btn">Save</ajax-button>
            </div>
        </ajax-form>
      </template>
      <div class="col-3">Username:</div>
      <div class="col"><strong>{{me.username}}</strong></div>
      <div class="col-3">Registered since:</div>
      <div class="col"><strong>{{new Date(me.createdAt*1000).toLocaleDateString('en-GB')}}</strong></div>
    </div>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Password</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a v-if="!isEditPasswordMode" class="btn btn-outline-info account-settings-button" @click="enterEditPasswordMode">Change password</a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Password:</div>

      <div v-if="!isEditPasswordMode" class="col"><strong>••••••••••</strong></div>
      <template v-else>
          
          <ajax-form id="edit-password-form" action="updatePassword" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedFormPassword()" :handle-parsing="handleParsingFormPassword" autocomplete="off">

            <table width="100%">
              
              <tbody>
              <tr>
              <td>
                  <div class="form-group">
                      <input class="form-control" id="password" type="password"  :class="[passwordFormErrors.password ? 'is-invalid' : '']" v-model.trim="passwordFormData.password" placeholder="Password" title="Password" autocomplete="new-password">
                      <div class="invalid-feedback" v-if="passwordFormErrors.password">Please enter a valid password, at least 6 characters long.</div>
                  </div>
              </td>
              <td>
                  <div class="form-group">
                      <a href="#" data-toggle="tooltip" data-placement="right" title="Minimum 6 characters">
                          <img alt="tooltip" height="20px" width="20px" src="/images/tooltip.png"/>
                        </a>
                  </div>
              </td>
              </tr>
              <tr>
              <td>
                  <div class="form-group">
                      <input class="form-control" id="confirmPassword" type="password"  :class="[passwordFormErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="passwordFormData.confirmPassword" placeholder="Confirm Password" title="Confirm Password" autocomplete="new-password">
                      <div class="invalid-feedback" v-if="passwordFormErrors.confirmPassword">Your password and confirmation do not match.</div>
                    </div>
              </td>
              <td>&nbsp;</td>
              </tr>
              </tbody>
              </table>
          <div class="flex-row-reverse form-group editControls">
              <a class="btn btn-info" @click="exitEditPasswordMode">Cancel</a>
            <ajax-button type="submit" :syncing="syncing" class="btn-dark btn">Save</ajax-button>
            
          </div>
        </ajax-form>
      </template>
    </div>
    <hr/>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
