<div id="create-bird">
    <div class="container" v-if="!cloudSuccess">
        <h1 class="text-center">Birds Table </h1>
        <div class="create-bird-form">
        <hr/>
            <div class="row">
                <div class="col-3">Name:</div>
                
                <strong>{{me.username}}</strong>
            </div>

            
        </div>
    </div>
</div>

    <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
    