<div id="create-nestsite">
  <div class="container" v-if="!cloudSuccess">
      <h1 class="text-center">Register a Nest Site</h1>
      <div class="create-nestsite-form">
      <hr/>
      <ajax-form action="createNestsite" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm" autocomplete="off">
          
          <div class="form-group">
              <!-- <label for="password">Stud ID</label> -->
              <input id="nestID" type="text" class="form-control" placeholder="Nestsite name" :class="[formErrors.nestID ? 'is-invalid' : '']" v-model.trim="formData.nestID" @blur="validateNestName" focus-first>
              <div class="invalid-feedback" v-if="formErrors.nestID">Please enter a unique Nest site name.</div>
          </div>

          <div class="form-group">
              <!-- <label for="password">New Stud ID</label> -->
              <textarea id="nestDescription" rows="10" cols="30" maxlengh="200" class="form-control" placeholder="Nest Site Description" :class="[formErrors.nestDescription ? 'is-invalid' : '']" v-model.trim="formData.nestDescription"></textarea>
              <div class="invalid-feedback" v-if="formErrors.nestDescription">Please enter a valid nestsite description.</div>
          </div>

          <div class="form-group" id="distance-group">
              <input id="distanceToHoppers" type="number" class="form-control" placeholder="Distance to hoppers" :class="[formErrors.distanceToHoppers ? 'is-invalid' : '']" v-model.trim="formData.distanceToHoppers">
              <select id="distanceUnits"  class="form-control" :class= "[formErrors.distanceUnits ? 'is-invalid' : '']" v-model.trim="formData.distanceUnits">
                <option value="m" selected>m</option>
                <option value="km">km</option>
            </select>
              <div class="invalid-feedback" v-if="formErrors.distanceToHoppers">Please enter a valid distance.</div>
          </div>
      
          <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</small></p>
          
          <div class="form-group">
              <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Register</ajax-button>
          </div>
      </ajax-form>
      </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
