Source Code/Application/nfc-bird-application/assets/js/cloud.setup.js
Source Code/Application/nfc-bird-application/test/private/CLOUD_SDK_METHODS.json
Source Code/Coordinator/coordinator-service/.idea/*
Source Code/Coordinator/coordinator-service/virtualenv/*
Source Code/Coordinator/coordinator-service/__pycache__/*
Source Code/Application/nfc-bird-application/echobook-0.0.1.tgz
