<div class="">
	<h1>New feeder</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/feeder/create" method="post">
				<div class="">
					<label for="">feederID</label>
					<input type="number" name="feederID" value="" required="true">
				</div>
				<div class="">
					<label for="">createdBy</label>
					<input type="number" name="createdBy" value="" required="false">
				</div>
				<div class="">
					<label for="">feederDescription</label>
					<input type="text" name="feederDescription" value="" required="false">
				</div>
			<button type="submit">Save feeder</button>
		</form>
		<br />
		<a href="/feeder">Index</a>
	</div>
</div>
