<h1>Show feeder</h1>

	<p>
		<strong>feederID:</strong>
		<%= element.feederID %>
	</p>
	<p>
		<strong>createdBy:</strong>
		<%= element.createdBy %>
	</p>
	<p>
		<strong>feederDescription:</strong>
		<%= element.feederDescription %>
	</p>

<br>
<a href="/feeder/edit/<%= element.id %>">Edit</a>
<a href="/feeder/create">New</a>
<a href="/feeder">Back</a>
