<div class="">
	<h1>New bird</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/bird/create" method="post">
				<div class="">
					<label for="">birdID</label>
					<input type="number" name="birdID" value="" required="true">
				</div>
				<div class="">
					<label for="">createdBy</label>
					<input type="number" name="createdBy" value="" required="false">
				</div>
				<div class="">
					<label for="">createdOn</label>
					<input type="text" name="createdOn" value="" required="true">
				</div>
				<div class="">
					<label for="">birdName</label>
					<input type="text" name="birdName" value="" required="false">
				</div>
				<div class="">
					<label for="">studID</label>
					<input type="text" name="studID" value="" required="false">
				</div>
				<div class="">
					<label for="">newStudID</label>
					<input type="text" name="newStudID" value="" required="false">
				</div>
				<div class="">
					<label for="">leftRingID</label>
					<input type="text" name="leftRingID" value="" required="false">
				</div>
				<div class="">
					<label for="">rightRingID</label>
					<input type="text" name="rightRingID" value="" required="false">
				</div>
				<div class="">
					<label for="">sex</label>
					<input type="text" name="sex" value="" required="false">
				</div>
				<div class="">
					<label for="">layDate</label>
					<input type="text" name="layDate" value="" required="false">
				</div>
				<div class="">
					<label for="">hatchedWhere</label>
					<input type="text" name="hatchedWhere" value="" required="false">
				</div>
				<div class="">
					<label for="">hatchDate</label>
					<input type="text" name="hatchDate" value="" required="false">
				</div>
				<div class="">
					<label for="">incubationDays</label>
					<input type="number" name="incubationDays" value="" required="false">
				</div>
				<div class="">
					<label for="">birdFledged</label>
					<input type="number" name="birdFledged" value="" required="false">
				</div>
				<div class="">
					<label for="">fledgedWhere</label>
					<input type="text" name="fledgedWhere" value="" required="false">
				</div>
				<div class="">
					<label for="">releasedWhere</label>
					<input type="text" name="releasedWhere" value="" required="false">
				</div>
				<div class="">
					<label for="">releasedWhen</label>
					<input type="text" name="releasedWhen" value="" required="false">
				</div>
				<div class="">
					<label for="">groupName</label>
					<input type="text" name="groupName" value="" required="false">
				</div>
				<div class="">
					<label for="">currentNestSite</label>
					<input type="text" name="currentNestSite" value="" required="false">
				</div>
				<div class="">
					<label for="">motherName</label>
					<input type="text" name="motherName" value="" required="false">
				</div>
				<div class="">
					<label for="">motherID</label>
					<input type="number" name="motherID" value="" required="false">
				</div>
				<div class="">
					<label for="">fatherName</label>
					<input type="text" name="fatherName" value="" required="false">
				</div>
				<div class="">
					<label for="">fatherID</label>
					<input type="number" name="fatherID" value="" required="false">
				</div>
				<div class="">
					<label for="">secondFatherName</label>
					<input type="text" name="secondFatherName" value="" required="false">
				</div>
				<div class="">
					<label for="">secondFatherID</label>
					<input type="number" name="secondFatherID" value="" required="false">
				</div>
				<div class="">
					<label for="">researcherNotes</label>
					<input type="text" name="researcherNotes" value="" required="false">
				</div>
				<div class="">
					<label for="">dateOut</label>
					<input type="text" name="dateOut" value="" required="false">
				</div>
			<button type="submit">Save bird</button>
		</form>
		<br />
		<a href="/bird">Index</a>
	</div>
</div>
