<div class="">
	<h1>New rfidtag</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/rfidtag/create" method="post">
				<div class="">
					<label for="">birdID</label>
					<input type="number" name="birdID" value="" required="false">
				</div>
				<div class="">
					<label for="">nfcRFID</label>
					<input type="text" name="nfcRFID" value="" required="true">
				</div>
				<div class="">
					<label for="">nfcRFIDInternal</label>
					<input type="text" name="nfcRFIDInternal" value="" required="true">
				</div>
			<button type="submit">Save rfidtag</button>
		</form>
		<br />
		<a href="/rfidtag">Index</a>
	</div>
</div>
