<div class="">
  <h1>New rfidtag</h1>

  <div class="body">
    <form class="" action="/rfidtag/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">birdID</label>
          <input type="number" name="birdID" value="<%= element.birdID %>" required="false">
        </div>
        <div class="">
          <label for="">nfcRFID</label>
          <input type="text" name="nfcRFID" value="<%= element.nfcRFID %>" required="true">
        </div>
        <div class="">
          <label for="">nfcRFIDInternal</label>
          <input type="text" name="nfcRFIDInternal" value="<%= element.nfcRFIDInternal %>" required="true">
        </div>
      <button type="submit">Update rfidtag</button>
    </form>
    <br />
    <a href="/rfidtag">Index</a>
  </div>
</div>