<h1>Show rfidtag</h1>

	<p>
		<strong>birdID:</strong>
		<%= element.birdID %>
	</p>
	<p>
		<strong>nfcRFID:</strong>
		<%= element.nfcRFID %>
	</p>
	<p>
		<strong>nfcRFIDInternal:</strong>
		<%= element.nfcRFIDInternal %>
	</p>

<br>
<a href="/rfidtag/edit/<%= element.id %>">Edit</a>
<a href="/rfidtag/create">New</a>
<a href="/rfidtag">Back</a>
