<div class="">
	<h1>New changelog</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/changelog/create" method="post">
				<div class="">
					<label for="">logID</label>
					<input type="number" name="logID" value="" required="true">
				</div>
				<div class="">
					<label for="">userID</label>
					<input type="number" name="userID" value="" required="false">
				</div>
				<div class="">
					<label for="">birdID</label>
					<input type="number" name="birdID" value="" required="false">
				</div>
				<div class="">
					<label for="">changes</label>
					<input type="text" name="changes" value="" required="true">
				</div>
				<div class="">
					<label for="">changedOn</label>
					<input type="text" name="changedOn" value="" required="true">
				</div>
			<button type="submit">Save changelog</button>
		</form>
		<br />
		<a href="/changelog">Index</a>
	</div>
</div>
