#create-nestsite {
  padding-top: 75px;
  padding-bottom: 75px;

  #create-nestsite-form,
  #edit-nestsite-form {
    .container-sm();
    // margin: -50px;
  }

  .success-message {
    .container-sm();
    text-align: center;
  }

  .modal-dialog
  {
      width: 25% !important;
  }
}