<div id="live-view">
    <div class="container" v-if="!cloudSuccess">
        <h1 class="text-center">Live View</h1>

        <p>{{ result }}</p>




    </div>
</div>
  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
  