<div id="create-bird">
    <div class="container" v-if="!cloudSuccess">
        <h1 class="text-center">Live View</h1>



    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>