<div class="">
	<h1>New birdcondition</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/birdcondition/create" method="post">
				<div class="">
					<label for="">birdID</label>
					<input type="number" name="birdID" value="" required="true">
				</div>
				<div class="">
					<label for="">birdCondition</label>
					<input type="text" name="birdCondition" value="" required="false">
				</div>
			<button type="submit">Save birdcondition</button>
		</form>
		<br />
		<a href="/birdcondition">Index</a>
	</div>
</div>
