<div class="">
  <h1>New birdcondition</h1>

  <div class="body">
    <form class="" action="/birdcondition/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">birdID</label>
          <input type="number" name="birdID" value="<%= element.birdID %>" required="true">
        </div>
        <div class="">
          <label for="">birdCondition</label>
          <input type="text" name="birdCondition" value="<%= element.birdCondition %>" required="false">
        </div>
      <button type="submit">Update birdcondition</button>
    </form>
    <br />
    <a href="/birdcondition">Index</a>
  </div>
</div>