<h1>Show birdcondition</h1>

	<p>
		<strong>birdID:</strong>
		<%= element.birdID %>
	</p>
	<p>
		<strong>birdCondition:</strong>
		<%= element.birdCondition %>
	</p>

<br>
<a href="/birdcondition/edit/<%= element.id %>">Edit</a>
<a href="/birdcondition/create">New</a>
<a href="/birdcondition">Back</a>
