<div class="">
	<h1>New user</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/user/create" method="post">
				<div class="">
					<label for="">userID</label>
					<input type="number" name="userID" value="" required="true">
				</div>
				<div class="">
					<label for="">username</label>
					<input type="text" name="username" value="" required="true">
				</div>
				<div class="">
					<label for="">fullname</label>
					<input type="text" name="fullname" value="" required="true">
				</div>
				<div class="">
					<label for="">passwordHash</label>
					<input type="text" name="passwordHash" value="" required="true">
				</div>
				<div class="">
					<label for="">hasRead</label>
					<input type="number" name="hasRead" value="" required="false">
				</div>
				<div class="">
					<label for="">hasCreateEdit</label>
					<input type="number" name="hasCreateEdit" value="" required="false">
				</div>
				<div class="">
					<label for="">hasEditFull</label>
					<input type="number" name="hasEditFull" value="" required="false">
				</div>
				<div class="">
					<label for="">hasExportSimple</label>
					<input type="number" name="hasExportSimple" value="" required="false">
				</div>
				<div class="">
					<label for="">hasExportFull</label>
					<input type="number" name="hasExportFull" value="" required="false">
				</div>
				<div class="">
					<label for="">hasAdmin</label>
					<input type="number" name="hasAdmin" value="" required="false">
				</div>
			<button type="submit">Save user</button>
		</form>
		<br />
		<a href="/user">Index</a>
	</div>
</div>
