<div class="">
	<h1>New nestsite</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/nestsite/create" method="post">
				<div class="">
					<label for="">nestID</label>
					<input type="text" name="nestID" value="" required="true">
				</div>
				<div class="">
					<label for="">createdBy</label>
					<input type="number" name="createdBy" value="" required="false">
				</div>
				<div class="">
					<label for="">nestDescription</label>
					<input type="text" name="nestDescription" value="" required="false">
				</div>
			<button type="submit">Save nestsite</button>
		</form>
		<br />
		<a href="/nestsite">Index</a>
	</div>
</div>
