<div class="">
  <h1>New nestsite</h1>

  <div class="body">
    <form class="" action="/nestsite/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">nestID</label>
          <input type="text" name="nestID" value="<%= element.nestID %>" required="true">
        </div>
        <div class="">
          <label for="">createdBy</label>
          <input type="number" name="createdBy" value="<%= element.createdBy %>" required="false">
        </div>
        <div class="">
          <label for="">nestDescription</label>
          <input type="text" name="nestDescription" value="<%= element.nestDescription %>" required="false">
        </div>
      <button type="submit">Update nestsite</button>
    </form>
    <br />
    <a href="/nestsite">Index</a>
  </div>
</div>