<h1>Show nestsite</h1>

	<p>
		<strong>nestID:</strong>
		<%= element.nestID %>
	</p>
	<p>
		<strong>createdBy:</strong>
		<%= element.createdBy %>
	</p>
	<p>
		<strong>nestDescription:</strong>
		<%= element.nestDescription %>
	</p>

<br>
<a href="/nestsite/edit/<%= element.id %>">Edit</a>
<a href="/nestsite/create">New</a>
<a href="/nestsite">Back</a>
