<div id="import-rfid" v-cloak>

    <div class="container" v-if="!cloudSuccess">


        <div class="flex-container filterbar bg-info">
            <h6>Filter by...&nbsp</h6><br>           
            <div class="form-group search-box">
                    <input id="nfcRFIDFilter" class="form-control" type="text" v-model.trim="ringidFilter" placeholder="Printed Ring ID" title="Printed Ring ID" autocomplete="off">
                    <autocomplete for="nfcRFID" action="getRfid" params='{"limit": 5}' map="nfcRFID" is-async> </autocomplete>
            </div>

            <div class="form-group">
                <button class="btn btn-secondary" @click="clearFilters">Clear</button>
            </div>

        </div>


        <table id="all-rfids" border="1" class="table table-bordered table-condensed text-nowrap">
            <thead role="rowgroup">
                <tr role="row" class="birdheader" style="font-weight: bold; background-color: #83cbd7 !important; color: #001117 !important;">
                    <th role="columnheader" style="width: 10%;">
                        Printed Ring ID
                        <i class="fas fa-chevron-down fa-xs" v-show="currentSortItem !== 'nfcRFID' || (currentSortItem === 'nfcRFID' && currentSortDirection === 'DESC')" @click="setSortItem('nfcRFID', 'DESC')" alt="Sort by Printed Ring ID Descending" title="Sort by Printed Ring ID Descending"></i>
                        <i class="fas fa-chevron-up fa-xs" v-show="currentSortItem !== 'nfcRFID' || (currentSortItem === 'nfcRFID' && currentSortDirection === 'ASC')" @click="setSortItem('nfcRFID', 'ASC')" alt="Sort by Printed Ring ID Ascending" title="Sort by Printed Ring ID Ascending"></i>
                    </th>
                    <th role="columnheader" style="width: 20%;">
                        Ring colour
                        <i class="fas fa-chevron-down fa-xs" v-show="currentSortItem !== 'colour' || (currentSortItem === 'colour' && currentSortDirection === 'DESC')" @click="setSortItem('colour', 'DESC')" alt="Sort by colour Descending" title="Sort by colour Descending"></i>
                        <i class="fas fa-chevron-up fa-xs" v-show="currentSortItem !== 'colour' || (currentSortItem === 'colour' && currentSortDirection === 'ASC')" @click="setSortItem('colour', 'ASC')" alt="Sort by colour Ascending" title="Sort by colour Ascending"></i>
                    </th>
                    <th role="columnheader" style="width: 20%;">
                        System ID
                        <i class="fas fa-chevron-down fa-xs" v-show="currentSortItem !== 'nfcRFIDInternal' || (currentSortItem === 'nfcRFIDInternal' && currentSortDirection === 'DESC')" @click="setSortItem('nfcRFIDInternal', 'DESC')" alt="Sort by System ID Descending" title="Sort by System ID Descending"></i>
                        <i class="fas fa-chevron-up fa-xs" v-show="currentSortItem !== 'nfcRFIDInternal' || (currentSortItem === 'nfcRFIDInternal' && currentSortDirection === 'ASC')" @click="setSortItem('nfcRFIDInternal', 'ASC')" alt="Sort by System ID Ascending" title="Sort by System ID Ascending"></i>
                    </th>
                    <th role="columnheader" style="width: 10%;">
                         Assigned
                         <i class="fas fa-chevron-down fa-xs" v-show="currentSortItem !== 'isAssigned' || (currentSortItem === 'isAssigned' && currentSortDirection === 'DESC')" @click="setSortItem('isAssigned', 'DESC')" alt="Sort by Assigned Descending" title="Sort by Assigned Descending"></i>
                         <i class="fas fa-chevron-up fa-xs" v-show="currentSortItem !== 'isAssigned' || (currentSortItem === 'isAssigned' && currentSortDirection === 'ASC')" @click="setSortItem('isAssigned', 'ASC')" alt="Sort by Assigned Ascending" title="Sort by Assigned Ascending"></i>
                    </th>
                    
                    <th role="columnheader" style="width: 10%;">
                        Assigned to Bird
                        <i class="fas fa-chevron-down fa-xs" v-show="currentSortItem !== 'birdName' || (currentSortItem === 'birdName' && currentSortDirection === 'DESC')" @click="setSortItem('birdName', 'DESC')" alt="Sort by Bird Descending" title="Sort by Bird Descending"></i>
                        <i class="fas fa-chevron-up fa-xs" v-show="currentSortItem !== 'birdName' || (currentSortItem === 'birdName' && currentSortDirection === 'ASC')" @click="setSortItem('birdName', 'ASC')" alt="Sort by Bird Ascending" title="Sort by Bird Ascending"></i>
                    </th>
                    <th role="columnheader" style="width: 20%;">
                        Assignment Date
                        <i class="fas fa-chevron-down fa-xs" v-show="currentSortItem !== 'assignmentDate' || (currentSortItem === 'assignmentDate' && currentSortDirection === 'DESC')" @click="setSortItem('assignmentDate', 'DESC')" alt="Sort by Assignment Date Descending" title="Sort by Assignment Date Descending"></i>
                        <i class="fas fa-chevron-up fa-xs" v-show="currentSortItem !== 'assignmentDate' || (currentSortItem === 'assignmentDate' && currentSortDirection === 'ASC')" @click="setSortItem('assignmentDate', 'ASC')" alt="Sort by Assignment Date Ascending" title="Sort by Assignment Date Ascending"></i>
                    </th>
                    <th role="columnheader" style="width: 10%;">Actions</th>
                </tr>
            </thead>

            <tbody role="rowgroup" id="rfid-table-body">
                <tr v-for="(rfidtag, index) in currentRfids">
                    <td class="birdJustifyColumn">{{rfidtag.nfcRFID}}</td>
                    <td>{{rfidtag.colour}}</td>
                    <td>{{rfidtag.nfcRFIDInternal}}</td>
                    <td>{{rfidtag.birdID ? 'Yes' : 'No'}}</td>
                    <td>{{rfidtag.birdID ? rfidtag.birdID.birdName : '-'}}</td>
                    <td>{{rfidtag.birdID ? new Date(rfidtag.updatedAt).toLocaleDateString('en-GB') : '-'}}</td>
                    <td><i v-if="!rfidtag.birdID && canEditThisRfid(index)" class="fas fa-trash-alt fa-lg" @click="promptDeleteRing(index)" alt="Delete Ring" title="Delete Ring"></i></td>
                </tr>
            </tbody>
        </table>


        <div class="import-rfid-form" v-show="me.hasCreateEdit">
            <h1 class="text-center">Import RFID tags from CSV</h1>
            <hr/>
            <ajax-form action="importRfid" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm($event)" @update:syncing="startSubmit" :handle-parsing="handleParsingForm" autocomplete="off">

                <table>
                    <tr> 
                        <div class="form-group">
                            <td id="upload-area">
                                <input id="csvUpload" type="file" class="form-control" title="Choose a file..." :class="[formErrors.csvUpload ? 'is-invalid' : '']" @change="parseCsv" accept=".csv" focus-first>
                            </td>
                            <td>
                                <a href="#" data-toggle="tooltip" data-placement="right" title="CSV file must have columns comma-separated and rows newline-separated. It should have exactly three columns in the following order with the following headings: 'short' (corresponding to Printed Ring ID), 'long' (corresponding to System ID) and 'colour' (corresponding to Ring Colour)">
                                        <img alt="tooltip" height="20px" width="20px" src="/images/tooltip.png"/>
                                </a>
                            </td>
                        
                        </div>
                    </tr>
                    <tr>
                        <td>
                            <div class="invalid-feedback" v-if="formErrors.csvUpload">Please upload a valid file. See tooltip for help.</div>
                            <div class="valid-feedback" v-else-if="csvValid">File is valid, you may proceed</div>
                        </td>
                    </tr>
                </table>

                <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</small></p>
                <p class="text-primary" id="statusField"><small>{{ statusText }}</small></p>

                <div class="form-group">
                    <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block" :disabled="!csvValid">Import</ajax-button>
                </div>
            </ajax-form>
        </div>

        <footer id="page-footer" class="navbar navbar-expand-sm navbar-dark bg-dark flex-column flex-md-row justify-content-between position-fixed footernav">
                <div class="flex-container paginateContainer">
                    <div>
                        <paginate :page-count="Math.ceil(rfidCount / pageSize)" :click-handler="pageClick" :prev-text="'Prev'" :next-text="'Next'" :container-class="'pagination'" :page-class="'page-item'" :page-link-class="'page-link'" :prev-class="'ignore page-item'" :prev-link-class="'page-link'"
                            :next-class="'ignore page-item'" :next-link-class="'page-link'" :disabled-class="'ignore disabled'">
                        </paginate>
                    </div>
                </div>
                     <div class="font-white">Showing {{currentRfids.length}} entries out of {{rfidCount}}</div>
                     <div class="nav-item dropdown d-none d-sm-block font-white">Show 
                            <select class="pageSizeControl custom-select" v-model="pageSize" style="width: auto; margin: 0px 5px;">
                                <option value="5" >5</option>
                                <option value="10">10</option>
                                <option selected value="15">15</option>
                                <option value="20">20</option>
                                <option value="10000">All</option>
                            </select>  entries
                    </div>
                
                </footer>
    </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>