<div id="import-rfid" v-cloak>

  <div class="container" v-if="!cloudSuccess">
    <h1 class="text-center">Import NFC rings from CSV</h1>
    <table id="all-rfids" border="1">
        <thead role="rowgroup">
            <tr role="row">
                <th role="columnheader"  style="width: 10%">Printed Ring ID</th>
                <th role="columnheader"  style="width: 10%">Ring colour</th>
                <th role="columnheader"  style="width: 20%">System ID</th>
                <th role="columnheader"  style="width: 10%">Assigned</th>
                <th role="columnheader"  style="width: 10%">Assigned to Bird</th>
                <th role="columnheader"  style="width: 10%">Assignment Date</th>
            </tr>
        </thead>

        <tbody role="rowgroup" id="rfid-table-body">
            <tr v-for="rfidtag in currentRfids">
                <td>{{rfidtag.nfcRFID}}</td>
                <td>{{rfidtag.colour}}</td>
                <td>{{rfidtag.nfcRFIDInternal}}</td>
                <td>{{rfidtag.birdID ? 'Yes' : 'No'}}</td>
                <td>{{rfidtag.birdID}}</td>
                <td>TODO</td>
            </tr>
        </tbody>
        </table>
    <paginate
        :page-count="Math.ceil(rfidCount / pageSize)"
        :click-handler="pageClick"
        :prev-text="'Prev'"
        :next-text="'Next'"
        :container-class="'pagination'"
        :page-class="'page-item'"
        :page-link-class="'page-link'"
        :prev-class="'ignore page-item'"
        :prev-link-class="'page-link'"
        :next-class="'ignore page-item'"
        :next-link-class="'page-link'"
        :disabled-class="'ignore disabled'"
    >
    </paginate>
    <div class="import-rfid-form">
    <hr/>
    <ajax-form action="importRfid" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm($event)" @update:syncing="startSubmit" :handle-parsing="handleParsingForm" autocomplete="off">
        
        <div class="form-group">
            <!-- <label for="password">Stud ID</label> -->
            <input id="csvUpload" type="file" class="form-control" title="Choose a file..." :class="[formErrors.csvUpload ? 'is-invalid' : '']" @change="parseCsv" accept=".csv" focus-first>
            <div class="invalid-feedback" v-if="formErrors.csvUpload">Please upload a valid file. See tooltip for help.</div>
            <div class="valid-feedback" v-else-if="csvValid">File is valid, you may proceed</div>
        </div>
    
        <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</small></p>
        <p class="text-primary" id="statusField"><small>{{ statusText }}</small></p>

        <div class="form-group">
            <ajax-button type="submit" :syncing="syncing" :disabled="!csvValid" class="btn-dark btn-lg btn-block">Import</ajax-button>
        </div>
    </ajax-form>
    </div>
</div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
