<div id="import-rfid">

    <div class="container" v-if="!cloudSuccess">
        <div class="flex-container filterbar" style="white-space: nowrap;">
            <div class="form-group col-xs-6 ">
                <span style="padding-left: 20px; padding-right:5px">Show </span> <select class="pageSizeControl custom-select" v-model="pageSize" style="width: auto;">
                                    <option value="5" >5</option>
                                    <option value="10">10</option>
                                    <option selected value="15">15</option>
                                    <option value="10000">All</option>
                                </select> <span style="padding-right:5px">entries</span>
            </div>
        </div>
        
        <table id="all-rfids" border="1" class="table table-bordered table-condensed">
            <thead role="rowgroup">
                <tr role="row" class="birdheader" style="font-weight: bold; background-color: #83cbd7 !important; color: #001117 !important;">
                    <th role="columnheader">Printed Ring ID</th>
                    <th role="columnheader">Ring colour</th>
                    <th role="columnheader">System ID</th>
                    <th role="columnheader">Assigned</th>
                    <th role="columnheader">Assigned to Bird</th>
                    <th role="columnheader">Assignment Date</th>
                    <th role="columnheader">Actions</th>
                </tr>
            </thead>

            <tbody role="rowgroup" id="rfid-table-body">
                <tr v-for="(rfidtag, index) in currentRfids">
                    <td class="birdJustifyColumn">{{rfidtag.nfcRFID}}</td>
                    <td class="birdJustifyColumn">{{rfidtag.colour}}</td>
                    <td>{{rfidtag.nfcRFIDInternal}}</td>
                    <td>{{rfidtag.birdID ? 'Yes' : 'No'}}</td>
                    <td>{{rfidtag.birdID ? rfidtag.birdID.birdName : '-'}}</td>
                    <td>{{new Date(rfidtag.updatedAt).toLocaleDateString('en-GB')}}</td>
                    <td><i v-if="!rfidtag.birdID" class="fas fa-trash-alt" @click="promptDeleteRing(index)"></i></td>
                </tr>
            </tbody>
        </table>
        <footer id="page-footer" class="navbar navbar-expand-sm navbar-dark bg-dark flex-column flex-md-row justify-content-between position-fixed footernav">
            <div>
                <paginate :page-count="Math.ceil(rfidCount / pageSize)" :click-handler="pageClick" :prev-text="'Prev'" :next-text="'Next'" :container-class="'pagination'" :page-class="'page-item'" :page-link-class="'page-link'" :prev-class="'ignore page-item'" :prev-link-class="'page-link'"
                    :next-class="'ignore page-item'" :next-link-class="'page-link'" :disabled-class="'ignore disabled'">
                </paginate>
            </div>
            <div class="nav-item dropdown d-none d-sm-block">
                <a style="color:white" class="nav-link ml-2" id="header-account-menu-link">Showing {{currentRfids.length}} entries out of {{rfidCount}}</a>
            </div>
        </footer>
        <div class="import-rfid-form">
            <h1 class="text-center">Import RFID tags from CSV</h1>
            <hr/>
            <ajax-form action="importRfid" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm($event)" @update:syncing="startSubmit" :handle-parsing="handleParsingForm" autocomplete="off">

                <div class="form-group">
                    <!-- <label for="password">Stud ID</label> -->
                    <input id="csvUpload" type="file" class="form-control" title="Choose a file..." :class="[formErrors.csvUpload ? 'is-invalid' : '']" @change="parseCsv" accept=".csv" focus-first>
                    <div class="invalid-feedback" v-if="formErrors.csvUpload">Please upload a valid file. See tooltip for help.</div>
                    <div class="valid-feedback" v-else-if="csvValid">File is valid, you may proceed</div>
                </div>

                <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</small></p>
                <p class="text-primary" id="statusField"><small>{{ statusText }}</small></p>

                <div class="form-group">
                    <!--removed :disabled="!csvValid" -->
                    <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Import</ajax-button>
                </div>
            </ajax-form>
        </div>
    </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>