<div class="">
	<h1>New visit</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/visit/create" method="post">
				<div class="">
					<label for="">visitID</label>
					<input type="number" name="visitID" value="" required="true">
				</div>
				<div class="">
					<label for="">feederID</label>
					<input type="number" name="feederID" value="" required="false">
				</div>
				<div class="">
					<label for="">birdID</label>
					<input type="number" name="birdID" value="" required="false">
				</div>
				<div class="">
					<label for="">ncfRFIDInternal</label>
					<input type="text" name="ncfRFIDInternal" value="" required="false">
				</div>
			<button type="submit">Save visit</button>
		</form>
		<br />
		<a href="/visit">Index</a>
	</div>
</div>
